fastapi
uvicorn
pymysql
python-multipart
python-jose[cryptography]
passlib[bcrypt]==1.7.4
python-dotenv
sqlalchemy
alembic==1.13.1
pydantic
pydantic-settings
# 추가 의존성
email-validator
bcrypt==4.0.1
# 배포용 의존성
gunicorn
